#map-wrapper {
	position: relative;

	#map-canvas {
		height: 400px;
	}

	#reset-map {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 25;
		transition:opacity .25s;
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}

	#map-nav {
		ul {
			display: flex;
			justify-content:center;
		}
	}
}